li.card-container {
  display: flex;
  flex-direction: row;
  min-width: 168px;
  min-height: 100px;
  margin: 8px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    background: #f9f9f9;

    &:hover {
      box-shadow: #dddddd 4px 4px 8px 0 inset, #ffffff 4px -4px 8px 0 inset;
      transition: box-shadow 500ms;
    }

    h3.card-title {
      color: #2d2d2d;
      font-size: 14px;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 4px;
    }
  }
}
