header.project-header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text);
  background-color: var(--bg);

  .header-title,
  .btn-theme {
    text-transform: capitalize;
    font-weight: bold;
  }
}
